@page
@model ProjectShop.Pages.Kvinder.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
@foreach (var item in Model.Kvinde) {
        <div>
            <a asp-area="" asp-page="/Kvinder/Kjoler">
                @Html.DisplayFor(modelItem => item.Product.Navn)
                @Html.DisplayFor(modelItem => item.Product.Pris)
                @Html.DisplayFor(modelItem => item.Tøjtype.Titel)
                <img src="@Url.Content(item.Product.Billeder)" style="height:40px; width:40px;" />
            </a>
        </div>
}
