@page
@model ProjectShop.Models.Kvinde
@{
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Main.css">
    <link rel="stylesheet" href="~/css/sidenavstyle.css" />
    <title>Document</title>
</head>

<div class="sidenav">
    <h2 class="sidenav-title">Damer</h2>
    <a href="#Kjoler">Kjoler</a>
    <a href="#Toppe">Toppe</a>
    <a href="#Skjorte">Skjorte</a>
    <a href="#Bluser">Bluser</a>
    <a href="#Blazers">Blazers</a>
    <a href="#Strik">Strik</a>
    <a href="#Bukser">Bukser</a>
    <a href="#Sko">Sko</a>
</div>

<div class="padding-up" id="container">
    <a asp-page="/Kvinder/Kjoler">
        <div id="item">
            <img class="clickable" src="https://tomyum.alandenz.dk/wp-content/uploads/2021/03/1.png" alt="" srcset="">
            <h2 class="sub-title clickable">
                KJOLER
            </h2>
        </div>
    </a>


    <div id="item">
        <img src="https://tomyum.alandenz.dk/wp-content/uploads/2021/03/2.png" alt="" srcset="">
        <h2 class="sub-title">
            TOPPE
        </h2>
    </div>


    <div id="item">
        <img src="https://tomyum.alandenz.dk/wp-content/uploads/2021/03/3.png" alt="" srcset="">
        <h2 class="sub-title">
            SKJORTE
        </h2>
    </div>

    <div id="item">
        <img src="https://tomyum.alandenz.dk/wp-content/uploads/2021/03/4.png" alt="" srcset="">
        <h2 class="sub-title">
            BLUSER
        </h2>
    </div>

    <div id="item">
        <img src="https://tomyum.alandenz.dk/wp-content/uploads/2021/03/5.png" alt="" srcset="">
        <h2 class="sub-title">
            BLAZERS
        </h2>
    </div>


    <div id="item">
        <img src="https://tomyum.alandenz.dk/wp-content/uploads/2021/03/6.png" alt="" srcset="">
        <h2 class="sub-title">
            STRIK
        </h2>
    </div>


    <div id="item">
        <img src="https://tomyum.alandenz.dk/wp-content/uploads/2021/03/7.png" alt="" srcset="">
        <h2 class="sub-title">
            BUKSER
        </h2>
    </div>

    <div id="item">
        <img src="https://tomyum.alandenz.dk/wp-content/uploads/2021/03/8.png" alt="" srcset="">
        <h2 class="sub-title">
            SKO
        </h2>
    </div>
</div>
