html, body{
     
    margin: 0;
    height: 100%;
  }
  
  .title{
      color: red;
      font-size: 60px;
      font-weight: 900;
      display: flex;
      justify-content: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  header{
      width: 100%;
      height: 100px;
      
      
    
  }
  .navbar{
      background-color:rgb(238, 238, 238);
      width: 100%;
      display: flex;
      justify-content: center;
      
    
  }
  .sizes, .colors{
      width: 200px;
  }
  .list-left, .list-right, .price{
      display: flex;
      flex-direction: column;
  }
  
  .navs{
      font-size: 22px;
      font-weight: 500;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
  }
  
  .link:hover{
    color: red;
    transition: 0.5s;
  }
  
  .link{
    text-decoration: none;
    color: black;
  }
   
  .desc-container {
   display: flex;
   flex-direction: row;
   justify-content:center;
   padding-top: 100px; 
   padding-left: 350px;
   padding-right: 350px;
  }

  #image-container{
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: auto auto;

      grid-gap: 30px;
  }
   
  #text-container {

      display: flex;
      flex-flow:wrap;
      justify-content: left; 
      padding-left: 30px;
      list-style: none;
  
    }

img {

    border: solid 2px red;
}
    .desc-container-bottom {
   
    }


.desc-container__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.desc-container__text > ul{
   margin: 30px;
}

    .price {
        color: red;
        font-size: 40px;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

  
    .sub-title{
      line-height: 50px;
      color: black;
      font-weight: bold;
      font-size: 30px;
      text-align: left;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      justify-content: center;
    }
  
    p{
   
      color: black;
      font-weight: 500;
      font-size: 18px;
      text-align: left;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    ul {
      color: black;
      font-weight: 500;
      font-size: 18px;
      text-align: left;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  
    .btn-p {
      max-width: 560px;
      padding-bottom: 30px;
      border-bottom: 1px solid #eee;
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 2;
      color: #222;
    }
    
    .button {
      background: red;
      border-radius: 100px;
      padding: 20px 60px;
      cursor: pointer;
      color: #fff;
      text-decoration: none;
      font-size: 22px;
      margin: 0 50px;
      font-family: 800;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

/*footer{
  
      width: auto;
      padding: 20px 20px;
      background-color: rgb(238, 238, 238);
      margin-top: 200px;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }*/
  
    .centered{
      font-size: 18px;
      font-weight: 500;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }