@page
@{ ViewData["Title"] = "Tøj-R-Us"; }
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Main.css">
    <title>Document</title>
</head>

<div id="container">
    <div id="item">
        <h2 class="sub-title">
            Lorem Ipsum dolor Tøj
        </h2>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nisi rerum quis possimus earum optio enim asperiores omnis dolores <br>
            <br>
            veniam tenetur, perferendis facere officia veritatis nobis architecto dolor. Recusandae, est.
        </p>
        <img src="https://tomyum.alandenz.dk/wp-content/uploads/2021/03/img4.png" alt="" srcset="">
    </div>

    <div id="item">
        <img src="https://tomyum.alandenz.dk/wp-content/uploads/2021/03/img1.png" alt="" srcset="">
        <h2 class="sub-title">
            FOR HENDE
        </h2>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nisi rerum quis possimus earum optio enim asperiores omnis dolores <br><br>
            veniam tenetur, perferendis facere officia veritatis nobis architecto dolor. Recusandae, est.
            veniam tenetur, perferendis facere officia veritatis nobis architecto dolor. Recusandae, est.
        </p>

        <div class="button">SE UDVALG</div>
    </div>

    <div id="item">
        <img src="https://tomyum.alandenz.dk/wp-content/uploads/2021/03/img2.png" alt="" srcset="">
        <h2 class="sub-title">
            FOR HAM
        </h2>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nisi rerum quis possimus earum optio enim asperiores omnis dolores <br><br>
            veniam tenetur, perferendis facere officia veritatis nobis architecto dolor. Recusandae, est.
            veniam tenetur, perferendis facere officia veritatis nobis architecto dolor. Recusandae, est.
        </p>

        <div class="button">SE UDVALG</div>
    </div>

    <div id="item">
        <img src="https://tomyum.alandenz.dk/wp-content/uploads/2021/03/img3.png" alt="" srcset="">
        <h2 class="sub-title">
            FOR BØRN
        </h2>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nisi rerum quis possimus earum optio enim asperiores omnis dolores <br>
            <br>
            veniam tenetur, perferendis facere officia veritatis nobis architecto dolor. Recusandae, est.
            veniam tenetur, perferendis facere officia veritatis nobis architecto dolor. Recusandae, est.
        </p>
        <div class="button">SE UDVALG</div>
    </div>



</div>
